<footer class="text-center">
    <strong>Copyright &copy; 2025 <a href="#">Néstor Marlier</a>.</strong> All rights reserved.
    <div class="redes-sociales">
        <a href="https://www.linkedin.com/in/nestor-marlier/" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a><a href="https://github.com/nestormarlier" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a><a href="mailto:nestor.mar@gmail.com"><i class="fas fa-envelope"></i></a>
        <!-- Agrega más iconos de redes sociales según sea necesario -->
    </div>
</footer>