{% extends "admin/base.html" %}
{% block extrahead %}
    <style>
        .alta-priority {
            color: white;
            font-weight: bold;
            letter-spacing: 2px;
            background-color: red;
        }

        .media-priority {
            color: black;
            font-weight: bold;
            letter-spacing: 2px;
            background-color: yellow;
        }

        .baja-priority {
            color: white;
        font-weight: bold;
        letter-spacing: 2px;
        background-color: green;
        }
    </style>
{% endblock %}